body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-top{
  width: 100%;
  background-color: pink;
  padding: 1rem 0 1rem 0;
  text-align: left;
}
.nav-top > p{
  display: inline-block;
  font-size: large;
  font-weight: 700;
  margin: 0 0 0 1rem;
  color: white;

}
.leaflet-container{
  height: calc(100vh - 56px);
}
.crosshair-cursor-enabled{
  cursor: default !important;
}
.field-table {
  border-collapse: collapse;
  width: 100%;
}
.field-table td, .field-table th {
  border: 1px solid #ddd;
  padding: .5rem;
}

.field-table tr:nth-child(even){background-color: #f2f2f2;}

.field-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(255, 164, 229);
  color: white;
}